<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/hibernate
		</property>
		<property name="hibernate.connection.username">
			roshan
		</property>
		<property name="hibernate.connection.password">
			hibuddy
		</property>

		<property name="connection.pool_size">1</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="current_session_context_class">thread</property>

		<property name="show_sql">true</property>

		<!-- Format all executed SQL -->
		<property name="format_sql">true</property>

		<property name="hbm2ddl.auto">update</property>

		<!--  crud operations... 
		<mapping resource="com/student/Student.hbm.xml" />
		-->
		<!--  one2one 
		<mapping resource="oneToone/StockDetails.hbm.xml" />
		<mapping resource="oneToone/Stock.hbm.xml" />
		-->
		
		
		<!-- one 2 many 
		<mapping resource="oneTomany/Stock.hbm.xml" />
		<mapping resource="oneTomany/StockDailyRecord.hbm.xml" />
		-->
		
		<!-- many 2 many 
		<mapping resource="manyTomany/Stock.hbm.xml" />
		<mapping resource="manyTomany/Category.hbm.xml" />
		-->
		
		<!-- Component mapping
		<mapping resource="componentmapping/Employee.hbm.xml" />
		-->
		
		<!-- Annotation
		<mapping class="annotatin.Stock"/>
		<mapping class="annotatin.StockDetail"/>
		 -->
		
		<!--  
		<mapping class="annotatin.Student"/>
		<mapping class="annotatin.Marks"/>
		-->
		<!--  -->
		<mapping class="com.seed.hibernate.Student"/>
		<mapping class="com.seed.hibernate.Result"/>
		
	</session-factory>


</hibernate-configuration>